 <%# <%debugger%>
<h2>Comments</h2>

<% @product.comments.each do |comment| %>
<%# <%debugger%>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.first_name %>
  </p>
  <p>
    <%= link_to 'Destroy Comment',catagories_subcatagories_comment_path(comment),
    method: :delete,data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
