<h2>All Orders</h2>
<% current_user.orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>products: </p>
  <ul>
    <% order.orderproducts.each do |product| %>
    <li><%= product.quantity %> x <%= product.product.name %></li>
    <% end %>
  </ul>
<% end %>